/* Se trabaja con css -- El formato del h1 del body puede cambiar */
        h1{
            color: #c0c;
            font-size: 12px;
            
        }
        body {
            background-color: antiquewhite;
            font-family: 'Segoe UI';
        }
        p{
            font-size: 18px;
        }
        a:link , a:visited, a:hover{
            color: yellow;
            font-size: 16px;
        }  
        
        /* elemento con identificador */
        #contenedor{
            margin: 0;
            width: 1300px;
        }

        #cabecera{
            color: #ff9;
            background-color: black;
            padding: 1px;
            text-align: center;
        }
        /* para que salga el menu al lado del cuerpo, con caracteristicas */
        #menu{
           background-color: #999; 
           float:left;
           height: 480px;
           padding: 10px;
           width: 180px;
        }

        #cuerpo{
            background-color: #ddd; 
            float:left;
            height: 480px;
            padding: 10px;
            width: 560px;
        }

        #final{
            background-color: #bbb;
            clear:both;
            padding: 10px;

        }
